<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=19f9d7d4cc76b670" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<system.transactions>
		<defaultSettings timeout = "00:22:00" />
	</system.transactions>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="DigitacaoEntities" connectionString="metadata=res://*/DataContext.DigitacaoContext.csdl|res://*/DataContext.DigitacaoContext.ssdl|res://*/DataContext.DigitacaoContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVRJHMLDB01\HML03;initial catalog=db_digitacao;persist security info=True;user id=Sinaf;password=SALIF123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SiesEntities" connectionString="metadata=res://*/DataContext.SiesContext.csdl|res://*/DataContext.SiesContext.ssdl|res://*/DataContext.SiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVRJHMLDB01\HML03;initial catalog=Sies;user id=Sinaf;password=SALIF123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<!--<system.transactions>
    -->
	<!--<defaultSettings timeout="22:00:00"/>-->
	<!--
    <machineSettings maxTimeout="00:00:00" />
  </system.transactions>-->
</configuration>